header.repo-header{
    height: 80px;
    box-sizing: border-box;
    border-image:linear-gradient(to right, #F04, #40F) 100% 1;
    border-style: solid;
    border-width: 2px;
}
main{
    display: grid;
    grid-template-areas: 
     "n c c";
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}
nav.repo-list{
    grid-area: n;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}
section.repo-details {
    grid-area: c;
    height: calc(100vh - 80px);
    overflow-y: auto;
}