:root{
    --header-height: 90px;
    --primary-color: #4E598C;
    --secondary-color: #FFFFFF;
    --terciary-color: #F9C784;
    --quaternary-color: #FCAF58;
    --quinternary-color: #FF8C42;
}

header.repo-header{
    margin: 0;
    height: var(--header-height);
    box-sizing: border-box;
    background-image:linear-gradient(to right, var(--primary-color), var(--quaternary-color));
    overflow: auto;
    h1{
        color: var(--secondary-color);
        margin-left: 1rem;
    }

}
main{
    display: grid;
    grid-template-areas: 
     "n c c";
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}
nav.repo-list{
    grid-area: n;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    overflow-x: hidden;
}
section.repo-details {
    grid-area: c;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}